.form-wrapper {
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 48px 165px;
  max-width: 1405px;
  min-width: 1280px;
  width: 100%;
}
.form-container {
  padding: 48px;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 40px 0px;
}
